name: CI
on:
  pull_request:
  push:
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        scala: [2.12.14, 2.13.6]
        java: [11]
    runs-on: ${{ matrix.os }}
    env:
      TZ: Asia/Tokyo
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt
      - name: Download Athena JDBC Driver
        run: mkdir lib && curl -L -o lib/AthenaJDBC41_2.0.7.jar https://s3.amazonaws.com/athena-downloads/drivers/JDBC/SimbaAthenaJDBC_2.0.7/AthenaJDBC41_2.0.7.jar
        shell: bash
      - name: Test
        run: sbt -v -Dfile.encoding=UTF-8 ++${{ matrix.scala }} test
        shell: bash
